*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}
#left{
    width: 25vw;
    padding: 10px;
}
#home ul{
    list-style: none;
}
#home ul li{
    width: 24px;
    display: flex;
    color: white;
    gap: 20px;
    padding-top: 15px;
}
#library{
    color: white;
    margin-top: 6px;
}
#heading{
    gap: 20px;
    align-items: center;
}
#heading img{
    width: 30px;
    position: relative;
}
#heading #plus-icon{
    width: 20px;
    position: absolute;
    left: 370px;
}
#library{
    min-height: 80vh;
    position: relative;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: RGB(167, 167, 167);
}
#right{
    width: 75vw;
    margin-top: 14px;
    background: linear-gradient(to bottom, rgb(31, 31, 31),black);
    background-color: rgb(31, 31, 31);
    position: relative;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    height: 70px;
    width: 100%;
    
}
#navbar img{
    width: 20px;
    margin-left: 30px;
}
#navbar .buttons{
    margin-right: 30px;
}
#gallary{
    padding-left: 20px;
}